:root {
	/* color */
	--dark-blue: #213053;
	--green: #23a030;

	/* font-family */
	--releway: 'Raleway', sans-serif;
}

body {
	font-family: var(--releway);
	color: var(--dark-blue);
	padding: 0;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.logo .header__logo {
	height: 30px;
}

a {
	text-decoration: none;
	color: var(--dark-blue);
}

header a {
	font-size: 15px;
	font-weight: 600;

	margin-right: 25px;
}

button {
	font-family: var(--releway);
	font-size: 15px;
	color: #fff;

	background-color: var(--green);
	border: none;
	border-radius: 15px;

	cursor: pointer;
	box-shadow: 0 16px 36px rgb(52 213 68 / 22%);
	padding: 15px;
}

.about {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 115px 0 115px 0;

	background: url('../img/back.png') no-repeat;
	background-position: center;
	background-size: cover;
}

.about__image {
	width: 500px;
}

.about__sun-image {
	width: 100px;
	height: 100px;
}

.about h1 {
	font-size: 70px;
	line-height: 76px;
}

.about p {
	font-size: 18px;
	line-height: 30px;
	opacity: 0.8;
}

.about button {
	font-size: 18px;
	border-radius: 20px;
	padding: 20px 25px;
	margin-top: 20px;
}

.about__info {
	max-width: 550px;
}

.form__container {
	width: 550px;
}
